################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OfferCount.Domain.Test/bin/Debug/net6.0
/OfferCount.Domain/bin/Debug/net6.0
/OfferCount.Domain/obj/Debug/net6.0
/OfferCount.Domain/obj/Release/net6.0
/OfferCount.Domain/obj
/OfferCount.Domain.Test/obj
/.vs
/src/OfferCount.Domain/bin/Debug/net6.0
/src/OfferCount.Domain/obj
/test/OfferCount.Domain.Test/bin/Debug/net6.0
/test/OfferCount.Domain.Test/obj
/src/OfferCounter.Domain/bin/Debug/net6.0
/src/OfferCounter.Domain/obj
/src/OfferCounter.Infrastructure/bin/Debug/net6.0
/src/OfferCounter.Infrastructure/obj
/src/OfferCounter.API/obj
/src/OfferCounter.API/bin/Debug/net6.0
/bin/Debug
/obj
